
.wrapperClickState{
    padding-left: 30px;
}
.btn-wrapper{
    display: flex;
    gap: 20px;
}

.btnClick{
    padding: 8px 16px;
        border-radius: 4px;
        border: none;
        font: inherit;
        cursor: pointer;
        width: 150px;
        background-color: royalblue;
        color: #fff;
}
